@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Forum');

.featured_article_container {
  font-family: "EB Garamond";
  font-size: 50px;
  text-decoration: underline;
}

.featured_article_title {
  font-family: "EB Garamond";
  font-size: 30px;
  text-decoration: underline;
}

.featured_article_body {
  font-family: "Forum";
  font-size: 18px;
  margin-left: 150px;
  margin-right: 150px;
}

.featured_article_subtitle {
  font-family: "EB Garamond";
  font-size: 12px;
}

.container_title {
  font-family: "EB Garamond";
  font-size: 50px;
  text-decoration: underline;
}


/* containers */

.ongoing_news_container {
  border-style: solid;
  border-width: medium;
  border-color: black;
  height: 1500px;
  width: 300px;
  float: right;
  margin-top: 72px;
}

.front_page_articles_container {
  border-style: solid;
  border-width: medium;
  border-color: black;
  width: 1100px;
  height: 1500px;
}


/* page title */

.page_title {
  font-family: "EB Garamond";
  text-decoration: underline;
  font-style: italic;
  font-size: 200px;
}


/* menubar */

.menubar {
  color: 000000;
  font-size: 70px;
  font-family: "EB Garamond";
}


/* links */

a:hover {
  color: FF8000;
}

a {
  color: 000000;
}


/* ammap style */

.ammapAlert
{
    display:table-cell;
    vertical-align:middle;
    text-align:center;
    font-family:verdana,helvetica,arial,sans-serif;
    font-size:12px;
    color:#283237;
}

.ammapDescriptionWindow
{
   font-size:11px;
   font-family:verdana,helvetica,arial,sans-serif;
   background-color:#FFFFFF;
   border-style:solid;
   border-color:#DADADA;
   border-width:1px;
   color:#000000;
   padding:8px;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

.ammapDescriptionTitle
{
   font-size:12px;
   font-weight:bold;
   font-family:verdana,helvetica,arial,sans-serif;
   padding-bottom:5px;
}

.ammapDescriptionWindowCloseButton
{

}

.ammapObjectList ul
{
    padding-left:20px;
    list-style:square outside;
    color:#999999;
    font-family:verdana,helvetica,arial,sans-serif;
    font-size: 12px;
}

.ammapObjectList ul ul
{
    padding-left:14px;
}

.ammapObjectList a
{
    color:#000000;
}

.ammapObjectList a
{
    color:#000000;
    text-decoration:none;
    display:block;
    padding:2px;
}

.ammapObjectList a:hover
{
    color:#283237;
    text-decoration:none;
    background:#FFFFFF;
    cursor:pointer;
    display:block;
}

.ammapDescriptionText
{
	overflow: auto;
}


.amChartsPlotArea
{

}
