@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Forum');

.featured_article_container {
  font-family: "EB Garamond";
  font-size: 40px;
  text-decoration: underline;
}

.featured_article_title {
  font-family: "EB Garamond";
  font-size: 20px;
  text-decoration: underline;
}

.featured_article_body {
  font-family: "Forum";
  font-size: 15px;
  margin-left: 350px;
  margin-right: 350px;
}

.featured_article_subtitle {
  font-family: "EB Garamond";
  font-size: 12px;
}


/* page title */

.page_title {
  font-family: "EB Garamond";
  text-decoration: underline;
  font-style: italic;
  font-size: 150px;
}


/* menubar */

.menubar {
  color: 000000;
  font-size: 50px;
  font-family: "EB Garamond";
}


/* links */

a:hover {
  color: FF8000;
}

a {
  color: 000000;
}
